- content_for :top do
  .jumbotron.masthead(style="#{@page.styles['page_jumbotron_style']}")
    .container
      #page_jumbotron(data-mercury="full" data-content-store="page")<
        = raw @page.get_content('page_jumbotron')

.container(style="margin-top: 20px;")
  #column1(data-mercury="full" data-content-store="page")<
    = raw @page.get_content('column1')
