!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0")

    = csrf_meta_tags
    %title
      Mercury Editor

    = stylesheet_link_tag "mercury"
    = javascript_include_tag 'jquery-1.7', 'mercury'

  %body
    :javascript
      Mercury.on('saved', function(event) {
        document.cookie='editing=false';
        top.location.href = top.location.href;
      });
      // Set to the url that you want to save any given page to, leave null for default handling.
      var saveUrl = null;

      // Instantiate the PageEditor
      new Mercury.PageEditor(saveUrl, {
        saveStyle:  'form', // 'form', or 'json' (default json)
        saveMethod: null, // 'PUT', or 'POST', (create, vs. update -- default PUT)
        visible:    true  // boolean - if the interface should start visible or not
      });

