= simple_form_for([:admin, @site], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :domains

  .form-actions
    = link_to t("back"), admin_sites_path, :class => "btn btn-warning"
    = f.button :submit, :class => "btn btn-success"
